<h2>Members</h2>

<div class="searchPlace">
<select (change)="onChange($event.target.value)">
  <option value="allShows" selected="selected">All Shows</option>
  <option value="BeautyAndTheBeast">Beauty and the Beast</option>
  <option value="JamesAndTheGiantPeach">James and the Giant Peach</option>
  <option value="TheLittleMermaid">The Little Mermaid</option>
</select>
<input class="searchBar form-control"[(ngModel)]="term" placeholder="Search by Name" class="searchBar">
</div>


<div *ngFor="let member of members | async | show:filterByShow | search:term"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(member)"><em>{{member.firstName}}</em>{{member.lastName}}</h3>
    <div class="">
      <h4>{{member.phone}}</h4>
    </div>
      <div *ngIf="currentRoute === '/admin'">
          <hr>
          <app-edit-member [selectedMember]="member"></app-edit-member>
      </div>

      <!-- <div *ngIf="currentRoute !== '/admin'">
        <app-fund [selectedMember]="member"></app-fund>
      </div> -->

  </div>
</div>
